<html>
  <head>
    <title>Email List</title>
    <link rel="stylesheet" href="/css/home.css">
   
  </head>
  <body>
    <table class="email-list">
      <tr>
        <th class="checkbox"><input type="checkbox" /></th>
        <th class="star"></th>
        <th class="sender">BLACKBOX from BLACK.</th>
        <th class="subject">🌟 BIG BLACKBOX AI News & A Special Feature on
          Jeremy Morgan! - Hello BLACKBOX AI Community! We've got some
          electrifying updates that you won't want to miss!...</th>
        <th class="date">2 thg 11</th>
      </tr>
      <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="star"><i class="far fa-star"></i></td>
        <td class="sender">VCBDigibank</td>
        <td class="subject">Biên lai chuyển tiền qua tài khoản - Vietcombank
          1900 54 54 13 Vietcombank https://portal.vietcombank.com.vn Biên lai
          chuyển tiền qua tài khoản (Payment Receipt)...</td>
        <td class="date">2 thg 11</td>
      </tr>
      <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="star"><i class="far fa-star"></i></td>
        <td class="sender">Steam Team</td>
        <td class="subject">New sign in to Steam - Steam New sign in to Steam
          From your account "ngotuanhtb" Location of sign in: Hanoi, Ha Noi, VN
          Authorized by: Steam Mobile Authenticator confirmation...</td>
        <td class="date">1 thg 11</td>
      </tr>
      <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="star"><i class="far fa-star"></i></td>
        <td class="sender">Google</td>
        <td class="subject">Cảnh báo bảo mật - Mới đăng nhập trên Windows
          tuananhavp@gmail.com Chúng tôi phát hiện thấy có một yêu cầu đăng nhập
          mới vào Tài khoản Google của bạn trên một thiết bị Windows...</td>
        <td class="date">1 thg 11</td>
      </tr>
       <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="star"><i class="far fa-star"></i></td>
        <td class="sender">Steam Team</td>
        <td class="subject">New sign in to Steam - Steam New sign in to Steam
          From your account "ngotuanhtb" Location of sign in: Hanoi, Ha Noi, VN
          Authorized by: Steam Mobile Authenticator confirmation...</td>
        <td class="date">1 thg 11</td>
      </tr>
      <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="star"><i class="far fa-star"></i></td>
        <td class="sender">Google</td>
        <td class="subject">Cảnh báo bảo mật - Mới đăng nhập trên Windows
          tuananhavp@gmail.com Chúng tôi phát hiện thấy có một yêu cầu đăng nhập
          mới vào Tài khoản Google của bạn trên một thiết bị Windows...</td>
        <td class="date">1 thg 11</td>
      </tr>
       <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="star"><i class="far fa-star"></i></td>
        <td class="sender">Steam Team</td>
        <td class="subject">New sign in to Steam - Steam New sign in to Steam
          From your account "ngotuanhtb" Location of sign in: Hanoi, Ha Noi, VN
          Authorized by: Steam Mobile Authenticator confirmation...</td>
        <td class="date">1 thg 11</td>
      </tr>
      <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="star"><i class="far fa-star"></i></td>
        <td class="sender">Google</td>
        <td class="subject">Cảnh báo bảo mật - Mới đăng nhập trên Windows
          tuananhavp@gmail.com Chúng tôi phát hiện thấy có một yêu cầu đăng nhập
          mới vào Tài khoản Google của bạn trên một thiết bị Windows...</td>
        <td class="date">1 thg 11</td>
      </tr>
       <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="star"><i class="far fa-star"></i></td>
        <td class="sender">Steam Team</td>
        <td class="subject">New sign in to Steam - Steam New sign in to Steam
          From your account "ngotuanhtb" Location of sign in: Hanoi, Ha Noi, VN
          Authorized by: Steam Mobile Authenticator confirmation...</td>
        <td class="date">1 thg 11</td>
      </tr>
      <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="star"><i class="far fa-star"></i></td>
        <td class="sender">Google</td>
        <td class="subject">Cảnh báo bảo mật - Mới đăng nhập trên Windows
          tuananhavp@gmail.com Chúng tôi phát hiện thấy có một yêu cầu đăng nhập
          mới vào Tài khoản Google của bạn trên một thiết bị Windows...</td>
        <td class="date">1 thg 11</td>
      </tr>
       <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="star"><i class="far fa-star"></i></td>
        <td class="sender">Steam Team</td>
        <td class="subject">New sign in to Steam - Steam New sign in to Steam
          From your account "ngotuanhtb" Location of sign in: Hanoi, Ha Noi, VN
          Authorized by: Steam Mobile Authenticator confirmation...</td>
        <td class="date">1 thg 11</td>
      </tr>
      <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="star"><i class="far fa-star"></i></td>
        <td class="sender">Google</td>
        <td class="subject">Cảnh báo bảo mật - Mới đăng nhập trên Windows
          tuananhavp@gmail.com Chúng tôi phát hiện thấy có một yêu cầu đăng nhập
          mới vào Tài khoản Google của bạn trên một thiết bị Windows...</td>
        <td class="date">1 thg 11</td>
      </tr>
    </table>

      <button class="compose-tab" onclick="toggleComposeBox()">Soạn Thư</button>

  <div class="email-compose" id="composeBox">
    <div class="email-heading">
      <h2>Thư mới</h2>
      <div class="actions">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <form method="get" class="email-content">
      <input type="text" name="email" placeholder="Đến" />
      <input type="text" name="title" placeholder="Tiêu đề" />
      <textarea name="content" placeholder="Nội dung thư"></textarea>
        <div class="email-footer">
      <div class="left-actions">
        <button type="submit">Gửi</button>
       
      </div>
      <div class="right-actions">
        <i class="fas fa-trash"></i>
      </div>
    </div>
    </form>
  
  </div>
    </div>
      <script>
        const composeBox = document.querySelector("#composeBox");
        const composeButton = document.querySelector(".compose-tab")
        const shutButton = document.querySelector(".fa-times")
        composeButton.addEventListener('click', () => {
            composeBox.style.display = 'block' ;
        })
        shutButton.addEventListener('click', () => {
            composeBox.style.display = 'none';
        })
</script>

  </body>
</html>