<html>
  <head>
    <title>
      Tạo Tài khoản Google
    </title>
    <link rel="stylesheet" href="/css/signup.css" />

  </head>
  <body>
    <div class="container">
      <div class="left">
        <img
          alt="Google logo"
          class="google-logo"
          src="https://pngimg.com/d/google_PNG102343.png"
        />
        <h1>
          Tạo Tài khoản Google
        </h1>
      
      </div>
      <div class="right">
        <form method="post">
          <div class="input-group">
            <label for="name">
              Tên
            </label>
            <input id="name" name="name" type="text" required />
             
          </div>
          <div class="input-group">
            <label for="email">
              Tên Tài Khoản 
            </label>
            <input id="email" name="email" type="text" required />
            {{#if error}}
          <p  class="error">{{error}}</p>
            {{/if}}
          </div>
          <div class="input-group">
            <label for="password">
              Mật Khẩu
            </label>
            <input id="password" name="password" type="password" required/>
          </div>
          <a href="http://localhost:3356/">Bạn đã có tài khoản?</a>
          <button type="submit" class="btn">
            Tạo tài khoản 
          </button>
        </div>
        </form>
    </div>
  </body>
</html>