body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  width: 450px;
}
.login-container img {
  width: 105px;
  object-fit: cover;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}
.login-container h1 {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
  text-align: center;
}
.login-container p {
  color: #5f6368;
  margin: 10px 0 20px;
  text-align: center;
}
.login-container a {
  color: #1a73e8;
  text-decoration: none;
  font-size: 14px;
}
.login-container a:hover {
  text-decoration: underline;
}
.login-container .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.login-container .buttons button {
  background-color: #1a73e8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
.login-container .buttons button.secondary {
  background-color: #f2f2f2;
  color: #1a73e8;
}

.buttons .first:hover {
  opacity: 0.9;
}
.login-container .buttons button.secondary:hover {
  opacity: 0.7;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 12px;
  color: #5f6368;
}
.footer select {
  border: none;
  background: none;
  color: #5f6368;
  font-size: 12px;
}
form {
  padding-bottom: 8px;
}
.login-container form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #dadce0;
  border-radius: 4px;
  font-size: 16px;
}
.input-container {
  margin-top: 10px;
}
.label {
  text-align: left;
  padding-left: 8px;
  font-size: 15px;
}
p.error {
  color: red;
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
}
